@page
@inject IConfiguration configuration

@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@configuration["Chiave"]</h3>
<p>Use this page to detail your site's privacy policy.</p>
